@page
@model PoliHack.Views.Home.TrafficResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Result</title>
</head>
<body>
<div>
    Aici puteti vedea cea mai buna configuratie a drumurilor din retea.
</div>
</body>
</html>